tmp/
components/*
!components/esp-ml307/
!components/esp-ml307/**
!components/esp-wifi-connect/
!components/esp-wifi-connect/**
!components/uart-uhci/
!components/uart-uhci/**
!components/reader_text/
!components/reader_text/**
managed_components/
build/
build.*/
build-*/
.vscode/
.cursor/
.devcontainer/
.env
releases/
daily-builds/
local-changes-summary.md

.DS_Store
.cache
*.pyc
mmap_generate_*.h
.clangd
